#table {
  font-size: 25px;
  background-color:rgb(181, 194, 253);
  border: 1px black solid;
  
}
#table td {
  border: 1px black solid;
  font-size: 20px;
}
#table th {
  border-left: 1px black solid;;
}

.check {
  display: flex;
  margin-left: auto;
  margin-right: auto
}